* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #eae9f2;
}

a {
  text-decoration: none;
}

a:focus {
  outline-color: #fff;
  transition: 500ms, background-color 500ms;
}

a:hover {
  /*color: #c97e3c;*/
  border-color: #eae9f2;
  background-color: transparent;
  transition: 500ms, background-color 500ms;
}

button {background-color: #fff;}