.product-list ul {
	list-style: none;
	text-align: right;
	
}

.products-list {
  display: flex;
  text-align: center;
/*  padding: 0 550px 0; */
  justify-content: center;
  margin: 100px 20px 100px -20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  line-height: 18px;
  
}

.products-list li {
margin: 5px;
}

main { margin-top: 1%;}

.h2o {
margin: 40px 0 -40px 0;
text-align: center;}

{
.product-card {
  position: relative;
  width: 132px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 122px 92px 0;
  font-family: "Verdana", "Tahoma", serif;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card img {
  position: absolute;
  top: 0;
  left: 0;
}

.product-card h3 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.product-card p {
  margin: 10px 100px 8px 0;
  text-align: left;
  padding: 0;
  font-size: 13px;
  font-style: italic;
  line-height: 16px;
}

}
