* {
  box-sizing: border-box;
}

ul {
	padding-right: 10px;
	list-style: none;
}

.container {
  width: 580px;
  margin: 0 auto;
}

q {font-size: 14px; font-style: italic;}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #eae9f2;
}

.section-title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

main a { color: #333;
}

a {
  color: #fff;
}

a:focus {
  outline-color: #fff;
  transition: 500ms, background-color 500ms;
}

a:hover {
color: #c97e3c;
  border-color: #eae9f2;
  background-color: transparent;
  transition: 500ms, background-color 500ms;
}
header a:hover {
  border-color: #eae9f2;
  background-color: transparent;
  transition: 500ms, background-color 500ms;
}

.page-header {
  display: grid;
  height: 280px;
  margin-bottom: 40px;
  color: #333333;
  background-color: #c97e3c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header .container {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 8px;
  background-image: url("img/profile1.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 194px 191px;
}

.page-header a {
  font-size: 16px;
  line-height: 24px;
}

.page-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
 }

.about-image {
   width: 147px;
   height: 147px;
   border-radius: 50%;
 }

.about-content {
   width: 410px;
   font-size: 14px;
   line-height: 24px;
      margin-top: 14px;
 }

.about-content p {
   margin: 0;
   margin-bottom: 12px;
   padding: 0;
   font-size: 10px;
 }
 
 .about-content i {
   font-size: 16px;
   margin: 0;
   margin-bottom: 12px;
   padding: 0;
 }

.status {
  margin-bottom: 32px;
}

.status p {
  margin: 0;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 32px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
}

button {background-color: #fff;}

/*.heart {}*/

.contacts {
  margin-bottom: 42px;
}

.contacts img {
  width: 146px;
  height: 146px;
  margin-right: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

p.contacts-name {
  margin-top: 20px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 20px;
}

.contacts a {
  font-size: 16px;
  line-height: 24px;
}

.page-footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #c97e3c;
}

.dark-page-header {
  margin-bottom: 40px;
  color: #fff;
  background-color: #517375;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.dark-page-footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #517375;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.cert {
	padding-left: 660px;
}

.nepo {
	padding-top: 11px;
	padding-left: 0;
}

.dark-link a {
  color: #fff;
  border-color: #eae9f2;
  background-color: transparent;
  transition: 500ms, background-color 500ms;
}

a:active, a:hover {
color: cyan;
}

/*header a {
background-color: #c97e3c;
/*box-shadow: 6px 6px 1px rgba(132, 122, 11, 0.2);
}*/

main a:active, main a:hover {
color: #c97e3c;
}

/*footer a:hover, header a:hover {
background-color: #c97e3c;
box-shadow: 6px 6px 1px rgba(58, 185, 194, 0.4);
}*/
